{# AppBundle/Resources/views/security/login.html.twig #}
{% extends 'loginBase.html.twig' %}

{% block otherstylesheets %}
    {#Login style#}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/loginStyles.css') }}"/>
{% endblock %}

{# To remove the nevigation bar on login page #}
{# {% block nevigationbar %} {% endblock %} #}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-centered col-lg-3 table-bordered ">
                <div class="wrath-content-box"><span>Log In</span></div>

                    <div class="wrath-content-box">
                        <div class="form-group">
                            <input type="text" id="username" class="form-control" placeholder="Username" name="_username"
                                   />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="password"
                                   name="_password"/>
                        </div>
                        <div class="col-sm-7">

                        </div>
                        <div class="col-sm-5">
                            <div class="form-group text-right">
                                <input type="submit" class="btn bc btn-success btn-sm form-control" value="Sign In"/>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}