{% extends '@Staff/base.html.twig' %}

{% block title %}Profile{% endblock %}

{% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}



{% block body %}

    <h1 align="center" class="title1">
        Add School
    </h1>
    <hr>

    <dev class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </dev>
    <div class="container-fluid padd2"> <h4 class="padd"> Click Next to assign principal.</h4> </div>





{% endblock %}