<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome Staff{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container" align="center">
            Copyright &copy; 2015 Quadro. All rights reserved.
        </div>
    </footer>
{% endblock %}
{% block jQuery %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>