{% extends 'base.html.twig' %}

{% block title %}Explores{% endblock %}

{% block body %}

    <h1 align="center" class="title1">
        District Cutoff
    </h1>

    <hr>
    <div>
          <table class="table table-striped" style="width: 50%" align="center">
               <thead>
                    <tr >
                         <th>No.</th>
                         <th>District</th>
                         <th>Sinhala Medium</th>
                         <th>Tamil Medium</th>
                    </tr>

               </thead>
              <tbody>
                  <tr>
                      <td > 1 </td>
                      <td >Colombo</td>
                      <td >160</td>
                      <td >154</td>
                  </tr>
                  <tr>
                      <td > 2 </td>
                      <td >Gampaha</td>
                      <td >160</td>
                      <td >154</td>
                  </tr>

                  <tr>
                      <td > 3 </td>
                      <td >Kaluthara</td>
                      <td >160</td>
                      <td >154</td>
                  </tr>

                  <tr>
                      <td > 4 </td>
                      <td >Mahanuwara</td>
                      <td >160</td>
                      <td >154</td>
                  </tr>

                  <tr>
                      <td > 5 </td>
                      <td >Mathale</td>
                      <td >160</td>
                      <td >154</td>
                  </tr>

                  <tr>
                      <td > 6 </td>
                      <td >Nuwaraeliya</td>
                      <td >153</td>
                      <td >151</td>
                  </tr>

                  <tr>
                      <td > 7 </td>
                      <td >Galle</td>
                      <td >160</td>
                      <td >154</td>
                  </tr>

                  <tr>
                      <td > 8 </td>
                      <td >Mathara</td>
                      <td >160</td>
                      <td >154</td>
                  </tr>

                  <tr>
                      <td > 9 </td>
                      <td >Hambanthota</td>
                      <td >158</td>
                      <td >150</td>
                  </tr>


                  <tr>
                      <td > 10 </td>
                      <td >Jaffna</td>
                      <td >n/a</td>
                      <td >153</td>
                  </tr>



              </tbody>
          </table>

    </div>

{% endblock %}