{% extends 'base.html.twig' %}

{% block title %}Explores{% endblock %}

{% block body %}
<table class="table table-condensed" style="width: 450pt" align="center">
<thead>
    <tr>
        <th>School</th>
        <th>Address</th>
        <th>Cutoff</th>
    </tr>
</thead>
    <tbody>
        {% for school in schools %}
        <tr>
        <td>{{ school.name }}</td>
        <td>{{ school.address }}</td>
        <td>{{ school.cutoff}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}