<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Welcome{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/loginStyles.css') }}"/>
    <!-- Latest compiled JavaScript -->
    {#Dropdowns dont work because of this#}
    {#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}

    {#Custom dropdown#}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/customNavbar.css') }}"/>

    {#Foter style#}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/footerStyle.css') }}"/>


    <style type="text/css">


    </style>

</head>
<body>
{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ui>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" class="pull-left"  > <row><img src="../bundles/framework/images/gov_logo1.png" width="50px" /> G5-SRMS </row>  </a>

                </div>
                <div>

                </div>
            </ui>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    {% set user = app.user %}
                    {% if (user != null) %}
                    <a href="#" class="dropdown-toggle glyphicon glyphicon-log-in" data-toggle="dropdown"> SampleUser123<b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#"> Log Out</a></li>
                    </ul>
                    {% else %}
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container" align="center">
            Copyright &copy; 2015 Quadro. All rights reserved.
        </div>
    </footer>
{% endblock %}
{% block jQuery %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>