{% extends '@Principal/base.html.twig' %}

{% block title %}Principal{% endblock %}

{% block body %}
        <a href="{{ path('acceptPage') }}">Accept page</a>
        <a href="{{ path('approvePage') }}">Approve page</a>
{% endblock %}