{% extends '@Principal/base.html.twig' %}

{% block title %}Explores{% endblock %}

{% block body %}

    <h1 align="center" class="title1">
        Selected Candidates
    </h1>
    <hr>
    <div class="container">
    <div class="success" ><h2>{{ school.name }} </h2></div>
    <table class="table table-condensed" style="width: 90%" align="center">
        <thead>
        <tr>
            <th>Student Index</th>
            <th>Name</th>
            <th>Marks</th>

            <th>View</th>
        </tr>
        </thead>
        <tbody>
        {% for stuApplication in applications %}
            <tr>
                <td>{{ stuApplication.studentIndex }}</td>
                <td>{{ stuApplication.name }}</td>
                <td>{{ stuApplication.marks}}</td>

                <td><a href="">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}